[Unit]
Description=Refresh CUPS Printer Status Snapshot every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
