<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cups.css" />
    <link rel="shortcut icon" href="/apple-touch-icon.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {refresh_page?<meta http-equiv="refresh" content="{refresh_page}">:}
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <title>{title} - CUPS 2.2.10</title>
  </head>
  <body class="cups-shell">
    <nav class="navbar navbar-expand-lg navbar-dark cups-navbar">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/cups-icon.png" alt="CUPS" width="22" height="22" class="mr-2">
        <span>CUPS</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#cupsNav" aria-controls="cupsNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="cupsNav">
        <ul class="navbar-nav me-auto text-center">
          <li class="nav-item">
            <a href="/admin" {SECTION=admin?class="nav-link active":class="nav-link"}>Admin</a>
          </li>
          <li class="nav-item">
            <a href="/classes/" {SECTION=classes?class="nav-link active":class="nav-link"}>Classes</a>
          </li>
          <li class="nav-item">
            <a href="/jobs/" {SECTION=jobs?class="nav-link active":class="nav-link"}>Jobs</a>
          </li>
          <li class="nav-item">
            <a href="/printers/" {SECTION=printers?class="nav-link active":class="nav-link"}>Printers</a>
          </li>
          <li class="nav-item">
            <a href="/help/" {SECTION=help?class="nav-link active":class="nav-link"}>Help</a>
          </li>
          <li class="nav-item">
            <a href="/theme-studio.html" class="nav-link">Themes</a>
          </li>
          <li class="nav-item">
            <a href="/maintenance.html" class="nav-link">Maintenance</a>
          </li>
        </ul>
        <span class="navbar-text d-none d-lg-inline">Web Interface</span>
      </div>
    </nav>

    <main id="body" class="body container-fluid container-xl py-4">
